.container {
  position: relative;
}

.toggleButton {
  position: absolute;
  right: 0.75rem;
  top: 38px;
  color: #6b7280;
}

.toggleButton:hover {
  color: #374151;
}

.toggleButton:focus {
  outline: none;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}